# =====================
# Qdrant / Vector DB
# =====================
ma_memoire_qdrant/
qdrant_data/
*.lock

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.npy
.venv/
venv/

# =====================
# Generated data / artifacts
# =====================
base_de_connaissance.csv
donnees_pretes_pour_vecteurs.csv
mes_vecteurs.npy

# =====================
# OS / IDE
# =====================
.vscode/
.idea/
Thumbs.db
.DS_Store
